{# Dit is een template voor motd en zo begin je commentaar #}

Welcome to {{ ansible_hostname }}
The hostname is: {{ ansible_facts['fqdn'] }}
The default IPv4 address of this host is: {{ ansible_facts['default_ipv4']['address'] }}
Running Linux: {{ ansible_distribution }} {{ ansible_distribution_version }}
